@import url('https://use.fontawesome.com/releases/v5.2.0/css/all.css');
@import './variables.scss';

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body, html {
	background-color: $bgColor;
	min-height: 100vh;
}