@import "../../variables.scss";

input {
	outline: none;
	border: none;
}

.inputComponent {
	position: relative;
	width: 100%;
	height: 100%;
	> input {
		z-index: 10;
		width: 100%;
		height: 100%;
		padding-left: 10px;
	}
}

.showEye {
	position: absolute;
	right: 0px;
	top: 0px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
	> i {
		font-size: 18px;
		&:hover {
			cursor: pointer;
			color: $purple-color;
		}
	}
}

.darkInput {
	background-color: #111;
	color: #fff;
	&::placeholder {
		color: gray;
	}
	&:focus {
		border-bottom: 2px solid $purple-color-hover;
	}
}

.lightInput {
	background-color: #888;
	color: #fff;
	&::placeholder {
		color: #fff;
	}
}

.text,
.password {
	height: 100%;
	width: 100%;
	border: 2px solid transparent;
	outline: none;
}

.error {
	position: relative;
	height: 0px;
	visibility: hidden;
	padding-top: 5px;
	font-size: 12px;
	color: $purple-color;
	&.showErr {
		height: auto;
		visibility: visible;
	}
}
