@import "../../../variables.scss";
.login {
	width: 300px;
	height: 300px;
	background-color: #222;
	padding: 10px 15px;
	> div {
		width: 100%;
		color: #fff;
		&:nth-child(1) {
			display: flex;
			> i {
				margin-left: auto;
				color: #fff;
				&:hover {
					cursor: pointer;
					color: $purple-color-hover;
				}
			}
		}
		&:nth-child(2) {
			text-align: left;
			margin-bottom: 20px;
		}
		&:nth-child(3) {
			> div {
				min-height: 40px;
				&:not(:last-of-type) {
					margin-bottom: 5px;
				}
				&:last-of-type {
					margin-bottom: 15px;
				}
			}
		}
		&:nth-child(4) {
			height: 30px;
			width: 100%;
			margin-bottom: 15px;
		}
		&:nth-child(5) {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			font-size: 12px;
			> div {
				&:hover {
					color: $purple-color;
					text-decoration: underline;
					cursor: pointer;
				}
			}
		}
	}
}
